@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:wght@300&display=swap');

:root {
    --light: #F2EFE9;
    --dark: #2E2B27;

    --main: #D74E09;
    --main-dark: #944821;

    --highlight: #8FB339;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--main);
    color: var(--light);
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100%;

}

#sidebar {
    padding: 8px;
    padding-left: 20px;
    flex: 0 1 auto;
    overflow: auto;
}

h1,
h2 {
    font-family: 'Dela Gothic One', sans-serif;
    color: var(--light);
    margin-bottom: 0;
}

form {
    display: grid;
}

form>* {
    padding: 9px;
}

input {
    padding: 5px;
    background-color: var(--light);
    border: 1px solid var(--dark);
    margin-bottom: 0;
}

ul {
    position: fixed;

    list-style-type: none;
    background-color: var(--light);

    border: 1px solid var(--dark);
    margin-top: 0;
    border-top: 0;
}

ul:empty {
    visibility: hidden;
}

ul a,
ul a:visited {
    color: var(--dark);
}

ul a:hover {
    color: var(--main-dark);
}

#mermaid-graph {
    height: 100%;
    background-color: var(--light);
    flex-grow: 1;
    overflow: auto;
}

g[id*='flowchart-'] rect+* {
    /*filthy dirty hack to prevent flickering as the overlapping objects all hover*/
    pointer-events: none;
}

g[id*='flowchart-'] rect:hover,
tr:hover {
    background-color: var(--highlight);
    fill: var(--highlight) !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

a,
a:visited {
    color: var(--light);
}