@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:wght@300&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #D74E09;
    color: #F2EFE9;
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100%;

}

#sidebar {
    padding: 8px;
    padding-left: 20px;
    flex: 0 1 auto;
    overflow: auto;
}

h1,
h2 {
    font-family: 'Dela Gothic One', sans-serif;
    color: #F2EFE9;
    margin-bottom: 0;
}

form {
    display: grid;
}

form>* {
    padding: 9px;
}

input {
    padding: 5px;
    background-color: #F2EFE9;
    border: 1px solid #2E2B27;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    background-color: #F2EFE9;

    border: 1px solid #2E2B27;
    margin-top: 0;
    border-top: 0;
}

ul:empty {
    visibility: hidden;
}

ul a,
ul a:visited {
    color: #2E2B27
}

ul a:hover {
    color: #944821
}

#mermaid-graph {
    height: 100%;
    background-color: #F2EFE9;
    flex-grow: 1;
    overflow: auto;
}

g[id*='flowchart-'] rect+* {
    /*filthy dirty hack to prevent flickering as the overlapping objects all hover*/
    pointer-events: none;
}

g[id*='flowchart-'] rect:hover,
tr:hover {
    background-color: #8FB339;
    fill: #8FB339 !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

a,
a:visited {
    color: #F2EFE9;
}